<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- The data source -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.h2.Driver"/>
		<property name="url"
				  value="jdbc:h2:~/temp/db/nak"/>
		<property name="username" value="sa"/>
		<property name="password" value=""/>
	</bean>

	<!-- The session factory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="packagesToScan" value="de.nak.cars.model"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<!-- The transaction manager -->
	<bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- The advice -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>

	<!-- The pointcut definition -->
	<aop:config>
		<aop:pointcut id="serviceMethods" expression="execution(* de.nak.cars.service.*.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods"/>
	</aop:config>
	
	<!-- AdmonitionProcess DAO -->
	<bean id="admonitionProcessDAO" class="de.nak.cars.dao.AdmonitionProcessDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- AdmonitionProcess Service -->
	<bean id="admonitionProcessService" class="de.nak.cars.service.impl.AdmonitionProcessServiceImpl">
		<property name="admonitionProcessDAO" ref="admonitionProcessDAO"/>
	</bean>
	
	<!-- Admonition DAO -->
	<bean id="admonitionDAO" class="de.nak.cars.dao.AdmonitionDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- Admonition Service -->
	<bean id="admonitionService" class="de.nak.cars.service.impl.AdmonitionServiceImpl">
		<property name="admonitionDAO" ref="admonitionDAO"/>
	</bean>
	
	<!-- Author DAO -->
	<bean id="authorDAO" class="de.nak.cars.dao.AuthorDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- Author Service -->
	<bean id="authorService" class="de.nak.cars.service.impl.AuthorServiceImpl">
		<property name="authorDAO" ref="authorDAO"/>
	</bean>

	<!-- Car DAO -->
	<bean id="carDAO" class="de.nak.cars.dao.CarDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- Car Service -->
	<bean id="carService" class="de.nak.cars.service.impl.CarServiceImpl">
		<property name="carDAO" ref="carDAO"/>
	</bean>

	<!-- Keyword DAO -->
	<bean id="keywordDAO" class="de.nak.cars.dao.KeywordDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- Keyword Service -->
	<bean id="keywordService" class="de.nak.cars.service.impl.KeywordServiceImpl">
		<property name="keywordDAO" ref="keywordDAO"/>
	</bean>

	<!-- Lender DAO -->
	<bean id="lenderDAO" class="de.nak.cars.dao.LenderDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- Lender Service -->
	<bean id="lenderService" class="de.nak.cars.service.impl.LenderServiceImpl">
		<property name="lenderDAO" ref="lenderDAO"/>
	</bean>

	<!-- Lending DAO -->
	<bean id="lendingDAO" class="de.nak.cars.dao.LendingDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- Lending Service -->
	<bean id="lendingService" class="de.nak.cars.service.impl.LendingServiceImpl">
		<property name="lendingDAO" ref="lendingDAO"/>
	</bean>

	<!-- Publication DAO -->
	<bean id="publicationDAO" class="de.nak.cars.dao.PublicationDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- Publication Service -->
	<bean id="publicationService" class="de.nak.cars.service.impl.PublicationServiceImpl">
		<property name="publicationDAO" ref="publicationDAO"/>
	</bean>
	
	<!-- PublicationType DAO -->
	<bean id="publicationTypeDAO" class="de.nak.cars.dao.PublicationTypeDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- PublicationType Service -->
	<bean id="publicationTypeService" class="de.nak.cars.service.impl.PublicationTypeServiceImpl">
		<property name="publicationTypeDAO" ref="publicationTypeDAO"/>
	</bean>
	
</beans>